div.alert{
    width: 170px;
    height: 30px;
    border-radius:17.5px;
    font-size: 11px;
    padding: 7px 7px;
    box-sizing: border-box;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .fas{
        font-size: 20px;
        margin-right: 10px;
    }

    &.green{
        background-color: $greenAlertBackground;
        box-shadow: $greenAlertShadow;
        color:$greenAlertColor;
    
    }

    &.red{
        background: $redAlertBackground;
        box-shadow:$redAlertShadow;
        color:$redAlertColor;
    }

    &.blue{
        background-color: $blueAlertBackground;
        box-shadow: $blueAlertShadow;
        color:$blueAlertColor;
    }

    
}