

section.calendar{
    
    .img-calendar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 8rem;
        img {
        
            margin-top: 7rem;
            width: 90%;
            margin-bottom: 6rem;
        }
    }

    .txt {


        text-align: left;
        margin-top: 9rem;
        margin-bottom: 2rem;
        

        h2 {
            text-align: left;
            margin-bottom: 2rem;
            font-weight: 700;
            color: $h2TextColor;
            
        }
        
        p {
            margin-bottom: 2rem;
            font-weight: 400;
            font-size: 14px;
            color: $pTextColor;
            line-height: 25px;
        }

        a {
            display: inline-block;
            font-family: $font;
            font-weight: 500;
            color:$navUlLiTextColor;
            font-size: 14px;
            text-decoration: none;
            margin-left: 2rem;

        }

    }

}