
main.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    .contact {
        margin-top:8rem;
        margin-bottom: 7rem;
        width: 80%;

        .img{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content:center;
            img.grow{
                height: 70%;
                display: block;
            }
        }
             
        .txt {
            box-sizing: border-box;
            width: 37rem;
            margin-right: 3rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            h2 {
               
                font-weight: 700;
                color: $h2TextColor;
                margin-bottom: 2rem;
            }
            
            form{
                width: 90%;
                max-width: 100%;
                display: block;
             
                .personal-data{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    label{
                        margin-left: 0.8rem;
                        text-align: start;
                    }

                    label, input{
                        display: block;
                        font-size: 14px;
                        color: $pTextColor;
                        line-height: 25px;
                        margin-bottom: 0.8rem;
                    }
                    input{
                        box-sizing: border-box;
                        border: 1px solid $borderColor;
                        box-shadow: 0 5px 12px 0 rgba(226,226,226,0.50);
                        border-radius: 17.5px;
                        font-size: 14px;
                        color: $navUlLiTextColor;
                        padding: 0.1rem 1rem;
                    }
                    input:focus{
                        border: 1px solid $navUlLiTextColorHover;
                    }
                    

                    .name{
                    
                        input{
                            width: 14rem;
                            height: 2rem;
                        }
                    }

                    .email{
                        input{
                            width: 16rem;
                            height: 2rem;
                        }
                    }
                }

                .textarea{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    
                    textarea{
                        resize: none;
                        border: 1px solid $borderColor;
                        box-shadow: 0 5px 12px 0 rgba(226,226,226,0.50);
                        border-radius: 17.5px;
                        overflow: auto;
                        color: $navUlLiTextColor;
                        font-size: 14px;
                        color: $navUlLiTextColor;
                        padding: 0.5rem 1rem;
                        font-family: $font;
                        width: 100%;   
                    }
                    textarea:focus{
                        border: 1px solid $navUlLiTextColorHover;
                    }
                    label{
                        display: block;
                        margin-left: 0.8rem;
                        font-size: 14px;
                        color: $pTextColor;
                        line-height: 25px;
                        margin-bottom: 0.8rem;
                        text-align: start;
                  }                     
                }        
            }
            
            button.wyslij-wiadomosc {
                margin-left: 0.8rem;
                margin-top:2rem;
                margin-bottom: 2rem;
                align-self: flex-start;
            }
        }
    }   
}
