footer {
  background-color: $footerBackground;
  font-family: $font;
  font-weight: 400;
  color: $footerTextColor;
  line-height: 2.5rem;
  margin: 0;

  div.footer {
    align-items: center;
    .left,
    .middle,
    .right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 3rem 0;
      div {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        font-size: 14px;
        line-height: 25px;

        .tel {
          margin-top: 0.1rem;
          display: inline-block;
          img {
            margin-right: 1rem;

            a {
              text-decoration: none;
            }
          }
        }
        .mail {
          margin-top: 0.9rem;
          display: inline-block;
          img {
            margin-right: 1rem;
          }
        }
        .icons {
          margin-top: 2rem;
          display: inline-block;

          img {
            margin-right: 1rem;
          }
        }

        .nav-small {
          text-align: left;

          table {
            color: $backgroundColor;
            text-transform: uppercase;
            font-family: $font;
            font-weight: 500;
            font-size: 14px;
            line-height: 25px;
            display: inline-block;
            margin-top: 1rem;

            tbody {
              tr {
                td {
                  a {
                    text-decoration: none;
                    color: $footerTextColor;
                    margin-right: 2rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .copyrights {
    text-align: center;
    margin-bottom: 26px;
    // margin-top: 69px;
    font-size: 14px;
  }
}
