
section.opinie {
    
    background-color: $backgroundGray;
    

    .container{
        background-color: $backgroundGray;
        

    }

    h2 {
        text-align: center;
        padding-top: 7rem;
        font-weight: 700;
        color: $h2TextColor;
        line-height: 45px;
    }

    .carousel{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top:3rem;
        margin-bottom: 7rem;
        position: relative;
        .carousel-container-big{
            background: $backgroundColor;
            box-shadow: 0 5px 12px 0 $btnSprawdzTreningBorder;
            border-radius: 6px;
            width: 100rem;
            max-height: 40rem;
            
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
                
                .carousel-container{

                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: center;


                        .small-container {
                            display: none;
                        
                            &.visible{
                                display: block;
                                display: flex;
                                flex-direction: row;
                                justify-content: space-around;
                                align-items: center;
                                width:100%;
                            }
                            .carousel-txt-container {
                                width: 55%;
                                text-align: left;
                                padding: 3rem 1rem;
    
                                h4{
                                    text-align: left;
                                    margin-bottom: 0.05rem;  
                                    font-family: $font;
                                    font-weight: 400;
                                    font-size:20px;
                                    color: $h4TextColor;
                                    line-height: 45px;
                                }
                                p{
                                    font-weight: 400;
                                    font-size: 14px;
                                    color: $pTextColor;
                                    line-height: 25px;
                                    margin-top: 2rem;
                                    margin-bottom: 2rem;
    
                                    &.person{
                                        font-family: $font;
                                        font-size: 14px;
                                        line-height: 25px;
                                        font-weight: 400;
                                        color: $pTextColor;
    
    
                                        span{
                                            font-weight: 700;
                                            color:$pTextColor;
                                        }
                                    }
                                }
    
                            }
                        }

                        .fa-chevron-right:hover,
                         .fa-chevron-left:hover{
                             cursor: pointer;
                             color: #FFB700 !important;
                           
                        }
                        }
                }       
            }
        }
