

main .trainings {
    display: flex;
    flex-direction: column;
    h2 {
        font-family: $font; 
        columns: $h2TextColor; 
        text-align: center;
        margin-top: 7rem;
        margin-bottom: 4rem;
        font-weight: 800;
    }

    .big-box {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 6rem;

        .small-box{
            display: flex;
            flex-direction: column;
            width: 18rem;
            margin-bottom: 2rem;

            .photo-box{
            
                height: 11rem;
                z-index: 0;
                img{
                    overflow: hidden;
                    width: 100%;
                }
            }
            .text-box{
                z-index: 1;
                background-color: $backgroundColor;
                height: 380px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                box-sizing: border-box;
                box-shadow:0 5px 12px 0 $borderColor; 
                border-radius: 6px;

                h4{
                    font-size: 20px;
                    color: $h4TextColor;
                    line-height: 45px;
                    padding-left: 1rem;
                }
                span{
                    color: $trainingsTextPrice;
                    font-size: 24px;
                    border-bottom: 3px solid $spanBorderBottom;
                    padding: 0.5rem 0;
                    width:140px ;
                    padding-left: 1.5rem;
                }

                .p-box{
                    font-size: 14px;
                    line-height: 25px;
                    color: $pTextColor;
                    padding:0.3rem 0.3rem;
                    padding-left: 1rem;
                }
                .icon-box{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    padding-left: 0;
                    font-size:12px;
                    color: $pTextColor;
                    line-height: 15px;
                    
                }
                .watch, .location{
                    
                    height: 3.5rem;
                    display:flex;
                    flex-direction: row;
                    margin:0.3rem 0.8rem;
                    align-items: center;

                    img{
                        margin-right: 0.3rem;
                    }
                    .txt{
                        
                        width:6rem;
                    }
                }

                button.zapisz-sie{
                   margin-left: 2.5rem; 
                   
                }
                
            }


            a{
                display: block;
                margin:0.8rem 5rem;
                text-align: center;
                text-decoration: none;
                color: $navUlLiTextColor;
                font-size: 14px;
            }
        }
    }
}