//div .container o kolorze tła białym, biegnie przez 2 pierwsze sekcje, welcome i opinie

.container{
    background-color: $backgroundColor;
    
    margin: 0 auto;


    /* start of section 1- welcome */

    .welcome {

        margin-top: 7rem;;
        .img {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .txt{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2rem;

            div{
                text-align: start;

                h2 {
               
                    font-weight: 700;
                    font-size: 39px;
                    color: $h2TextColor;
                    line-height: 45px;
                }
                
                p {
                    margin-top: 2rem;
                    font-weight: 400;
                    font-size: 14px;
                    color: $pTextColor;
                    line-height: 25px;
                }
                button.umow-sie {
                    margin-top:2rem;
                }
            }
        }
     }
}   


